# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# packages - unziped versions aren't kept, zipped versions are.
packages/*/**

**/Thumbs.db
